.hover-scale
  overflow hidden

  &__item
    transition transform 1.5s cubic-bezier(.165,.84,.44,1)

    .hover-scale:hover &
      transform scale(1.08)

.hover-link
  position relative

  &::after
    content ''
    position absolute
    top 100%
    left 0
    display block
    width 100%
    height 1em
    background-color currentColor
    transform scaleY(.075) scaleX(0)
    transform-origin top left
    transition transform .7s

  .hover-link-trigger:hover &
  &.hover-link_active
  &:hover
    &::after
      transform scaleY(.075) scaleX(1)

  &_large

    &::after
      transform scaleY(.05) scaleX(0)

    .hover-link-trigger:hover &
    &.hover-link_active
    &:hover
      &::after
        transform scaleY(.05) scaleX(1)

.active-link
  position relative
  display inline-block
  overflow hidden
  padding-bottom .075em
  transition opacity .3s

  &::after
    content ''
    position absolute
    bottom (-1em + .075em)
    left 0
    display block
    width 100%
    height 1em
    background-color currentColor
    transform scaleY(.075) translateX(-101%)
    transform-origin top left

  .active-link_active
  &:hover
    opacity .6

    &::after
      animation active-hover .8s cubic-bezier(.58,.3,.005,1) 0s 1

  &_large
    padding-bottom .05em
    bottom (-1em + .05em)

    &::after
      transform scaleY(.05) translateX(-101%)

    &.active-link_active
    &:hover
      &::after
        animation active-hover_large .8s cubic-bezier(.58,.3,.005,1) 0s 1
