.heading-1-regular-up
  heading-1(400, uppercase)

.heading-1-medium-up
  heading-1(500, uppercase)

.heading-2-medium-up
  heading-2(500, uppercase)

.heading-2-semibold-up
  heading-2(600, uppercase)

.heading-3-medium-up
  heading-3(500, uppercase)

.heading-4-regular
  heading-4(400)

.heading-4-regular-up
  heading-4(400, uppercase)

.heading-4-medium-up
  heading-4(500, uppercase)

.heading-4-semibold-up
  heading-4(600, uppercase)

.heading-5-semibold-up
  heading-5(600, uppercase)

.text-1-regular
  text-1(400)

.text-1-regular-up
  text-1(400, uppercase)

.text-1-medium-up
  text-1(500, uppercase)

.text-2-regular
  text-2(400)

.text-2-regular-up
  text-2(400, uppercase)

.text-2-medium
  text-2(500)

.text-2-medium-up
  text-2(500, uppercase)

.text-2-semibold-up
  text-2(600, uppercase)

.text-3-regular
  text-3(400)

.text-3-regular-up
  text-3(400, uppercase)

.text-3-medium
  text-3(500)

.text-3-medium-up
  text-3(500, uppercase)

.text-3-bold-up
  text-3(600, uppercase)

.text-4-light-up
  text-4(300, uppercase)

.text-4-regular
  text-4(400)

.text-4-regular-up
  text-4(400, uppercase)

.text-4-medium
  text-4(500)

.text-4-medium-up
  text-4(500, uppercase)

.text-4-semibold
  text-4(600)

.text-4-semibold-up
  text-4(600, uppercase)

.text-4-5-light-up
  text-4-5(300, uppercase)

.text-4-5-regular
  text-4-5(400)

.text-4-5-regular-up
  text-4-5(400, uppercase)

.text-4-5-medium
  text-4-5(500)

.text-4-5-medium-up
  text-4-5(500, uppercase)

.text-4-5-semibold
  text-4-5(600)

.text-4-5-semibold-up
  text-4-5(600, uppercase)

.text-5-regular
  text-5(400)

.text-5-regular-up
  text-5(400, uppercase)

.text-5-semibold
  text-5(600)

.text-5-semibold-up
  text-5(600, uppercase)

.text-5-medium
  text-5(500)

.text-5-medium-up
  text-5(500, uppercase)

.text-6-regular
  text-6(400)

.text-6-regular-up
  text-6(400, uppercase)

.text-6-semibold
  text-6(600)

.text-6-semibold-up
  text-6(600, uppercase)

.text-7-regular
  text-6(400)

.pre-line
  white-space pre-line
