@import "vendor/normalized.styl"
@import "common/common.styl"
@import "common/containers.styl"
@import "common/hovers.styl"
@import "common/tags.styl"
@import "common/transitions.styl"
@import "common/typography.styl"

// staticFontface('Barlow Condensed', 'BarlowCondensed-Light', 300)
// staticFontface('Barlow Condensed', 'BarlowCondensed-Regular', 400)
// staticFontface('Barlow Condensed', 'BarlowCondensed-Medium', 500)
// staticFontface('Barlow Condensed', 'BarlowCondensed-SemiBold', 600)

// staticFontface('Barlow', 'Barlow-Regular', 400)

[data-cursor]
  cursor pointer

[data-cursor="hide"]
  cursor none !important

html, body
  margin 0
  line-height 1.1