mobile()
  @media only screen and (max-width: 992px)
    {block}

rupture.anti-overlap = true

rupture.mobile-cutoff = 688px
rupture.desktop-cutoff = 992px
rupture.hd-cutoff = 1312px

rupture.scale = 0 480px 688px 992px 1312px 1600px 1921px
rupture.scale-names =  'xs' 's' 'm' 'l' 'xl' 'hd' 'kk'
