heading-1(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(120)
  line-height (120 / 120)

  +mobile()
    font-size rem(44)
    line-height (44 / 44)

heading-2(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(90)
  line-height (90 / 90)

  +mobile()
    font-size rem(34)
    line-height (34 / 34)

heading-3(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(60)
  line-height (60 / 60)

  +mobile()
    font-size rem(24)
    line-height (24 / 24)

heading-4(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(34)
  line-height (34 / 34)

  +mobile()
    font-size rem(18)
    line-height (18 / 18)

heading-5(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(24)
  line-height (24 / 24)

  +mobile()
    font-size rem(14)
    line-height (14 / 14)

text-1(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(50)
  line-height (50 / 50)

  +mobile()
    font-size rem(24)
    line-height (24 / 24)

text-2(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(40)
  line-height (40 / 40)

  +mobile()
    font-size rem(20)
    line-height (20 / 20)

text-3(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(30)
  line-height (36 / 30)

  +mobile()
    font-size rem(16)
    line-height (26 / 16)

text-4(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(24) // TODO min size 20
  line-height (24 / 24)

  +mobile()
    font-size rem(16)

text-4-5(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(20)
  line-height (20 / 20)

  +mobile()
    font-size rem(16)

text-5(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(18) // TODO min size 16
  line-height (18 / 18)

  +mobile()
    font-size rem(14)

text-6(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size 14px
  line-height (16 / 14)

text-6(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size 12px
  line-height (16 / 12)

  +mobile()
    font-size rem(14)

