// Base

$baseFontSize = 24px
// $baseOffset = 50

// Colors

$white = #FFFFFF
$whitesmoke = #F6F6F6
$whitemate = #FDFDFD
$black = #000000
$semiblack = #090909
$blackLight = #161616
$blackSemiLight = #121212
$darkgray = #363636
$gray = #4B4B4B
$darkmidgray = #7A7A7A
// $midgray = #A3A3A3
$lightgray = #D4D4D4
$lightsmoke = #E4E4E4
$beige = #F5F5F3
$beigeLight = #FAFAFA
$red = #EB5757
$green = #27AE60

$blue = #84ceff

// Layout sizes

$mobile = 375
$tablet = 768
$laptop = 1280
$desktop = 1440
$hd = 1920
$kk = 2560


// Component vars

$ui = {
  x: 30px
  y: 40px

  m: {
    x: 60px
    y: 50px
  }

  l: {
    x: 60px
    y: 50px
  }

  xl: {
    x: 65px
    y: 55px
  }

  hd: {
    x: 70px
    y: 60px
  }

  kk: {
    x: 80px
    y: 70px
  }
}

$wrap = {
  x: 30px
  y: 40px

  m: {
    x: 60px
    y: 70px
  }

  l: {
    x: 140px
    y: 90px
  }

  xl: {
    x: 200px
    y: 120px
  }

  hd: {
    x: 240px
    y: 150px
  }

  kk: {
    x: 240px
    y: 170px
  }
}


$offsets = {
  wrap: {
    x: 240px
    y: 170px

    mobile: {
      x: 30px
      y: 40px
    }
  }
  ui: {
    x: 80px
    y: 70px

    mobile: {
      x: 30px
      y: 40px
    }
  }
}
